@model MvcCore.Models.TaskModel

@{
    ViewData["Title"] = "Add new task";
}

<h1>Register new account</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Task/Register" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Enter username:</label>
                <input type="text" name="username" value="" class="form-control"/>
            </div> 
            <div class="form-group">
                <label for="password">Enter password:</label>
                <input type="password" name="password" value="" class="form-control" />
            </div>
            <button type="submit">Register</button>
            <label> </label>
        </form>
        <form action="/Task/Login" method ="get" enctype="multipart/form-data">
            <div class="form-group">
                <label style="margin-top: 60px;" for="Login">Already have an account?</label>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}