@model MvcCore.Models.TaskModel

@{
    ViewData["Title"] = "Add new task";
}

<h1>Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Task/Register" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Enter username:</label>
                <input type="text" name="username" value="" />
                <label for="password">Enter password:</label>
                <input type="text" name="password" value="" />
                
            </div>
            <button type="submit">Register</button>
            <label> </label>
        </form>
        <form action="/Task/Login" method ="get" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Login">Already have account?</label>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}